@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ✨ Parallax effect */
@keyframes parallax {
  0% { transform: scale(1.05) translateY(0); }
  50% { transform: scale(1.1) translateY(-1.5%); }
  100% { transform: scale(1.05) translateY(0); }
}

.animate-parallax {
  animation: parallax 18s ease-in-out infinite;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}
